#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

#
# Symmetric Ciphers
#
CONFIG_MBEDTLS_RC4_ENABLED=y
CONFIG_MBEDTLS_BLOWFISH_C=y
